<h2>Alterar foto de perfil</h2>

<%= form_with model: @profile do |f| %>
  <%= f.label :photo, 'Foto' %>
  <%= f.file_field :photo %>
  <%= f.submit 'Salvar' %>
<% end %>

<%= button_to 'Remover foto de perfil', remove_photo_profile_path(@profile), method: :patch %>