<div class="d-flex">
  <div class="container d-flex flex-column w-50">
  <% if @profile.active? %>
    <% if @posts.pinned.any? %>
      <div id="fixed">
        <h2 id="post-list-title"><%= t('.highlight') %></h2>
        <section>
          <%= render partial: 'posts/listing', locals: { posts: @posts.pinned } %>
        </section>
      </div>
    <% end %>

    <div id="publications">
      <h2 id="post-list-title"><%= Post.model_name.human(count: 2) %></h2>
      <% if @profile.user.posts.count - @profile.user.posts.pinned.count < 1 %>
        <p><%= t('.nothing_here') %> <br> <%= t('.new_posts') %> :)</p>
      <% end %>

      <section>
        <%= render partial: 'posts/listing', locals: { posts: @posts.unpinned.order(created_at: :desc) } %>
      </section>
    </div>

  </div>

  <div class="container w-50 d-flex flex-column px-5 align-items-end">
    <aside class="px-5">
      <section class="text-center d-flex flex-column align-items-center">
        <div class="ratio ratio-1x1 rounded-circle overflow-hidden w-50">
          <%= render partial: 'profile_photo', locals: { profile: @profile } %>
        </div>

        <%= link_to t('.change_photo'), edit_profile_path(@profile), class: 'badge bg-secondary' if current_user == @profile.user %>
        <h4><%= @user.full_name %></h4>
        <div class="d-flex gap-4">
          <div class="d-flex flex-column" id="followers-count">
            <%= link_to profile_connections_path(@profile), class: "text-decoration-none fs-5" do %>
              <p><%= @profile.followers_count %> <%= t(Connection.human_attribute_name(:follower_id, count: @profile.followers_count ))%></p>
            <% end %>
          </div>
          <div class="text-center d-flex flex-column" id="following-count">
            <%= link_to profile_following_path(@profile), class: "text-decoration-none fs-5" do %>
              <p><%= @profile.followed_count %> <%= t(Connection.human_attribute_name(:followed_profile_id))%> </p>
            <% end %>
          </div>
        </div>
        <br>
        <div class="w-75">
          <% if current_user.profile != @profile %>
            <div>
              <% if @profile.following?(current_user.profile) %>
                <%= button_to t('.unfollow_btn'), connection_unfollow_path(@profile.followers.find_by(follower: current_user.profile)), method: :patch, class: 'btn btn-danger w-50' %>
              <% elsif @profile.inactive_follower?(current_user.profile) %>
                <%= button_to t('.follow_btn'), connection_follow_again_path(@profile.followers.find_by(follower: current_user.profile)), method: :patch, class: 'btn btn-primary w-50' %>
              <% else %>
                <%= button_to t('.follow_btn'), profile_connections_path(@profile), class: 'btn btn-primary w-50' %>
              <% end %>
            </div>
            <div class="mt-2">
              <%= link_to t('reports.report_btn'), new_report_path(reportable: @profile.id, reportable_type: @profile.class), class: 'btn btn-secondary btn-sm' %>
            </div>
          <% end %>
        </div>

      </section>
      <section>
        <%= render 'profile/profile', profile: @profile, professional_infos: @professional_infos, personal_info: @personal_info %>
      </section>
    </aside>
  <% else %>
    <h2 class="text-center"><%= t('.arquived_account') %></h2>
  <% end %>
  </div>
</div>
