<div class="d-flex">
  <div class="container d-flex flex-column w-50">

    <% if @posts.pinned.any? %>
      <div id="fixed">
        <h2 id="post-list-title">Destaque</h2>
        <section>
          <%= render partial: 'posts/listing', locals: { posts: @posts.pinned } %>
        </section>
      </div>
    <% end %>

    <div id="publications">
      <h2 id="post-list-title">Publicações</h2>
      <% if @profile.user.posts.count - @profile.user.posts.pinned.count < 1 %>
        <p>Ainda não tem nada aqui... <br> Mas novas publicações vão ocupar este espaço. :)</p>
      <% end %>
      
      <section>
        <%= render partial: 'posts/listing', locals: { posts: @posts.unpinned.order(created_at: :desc) } %>
      </section>
    </div>

  </div>

  <div class="container w-50 d-flex flex-column px-5 align-items-end">
    <aside class="px-5">
      <section class="text-center d-flex flex-column align-items-center">
        <div class="ratio ratio-1x1 rounded-circle overflow-hidden w-50">
          <%= render partial: 'profile_photo', locals: { profile: @profile } %>
        </div>

        <%= link_to 'Alterar foto', edit_profile_path(@profile), class: 'badge bg-secondary' if current_user == @profile.user %>
        <h4><%= @user.full_name %></h4>
        <div class="d-flex gap-4">
          <div class="d-flex flex-column" id="followers-count">
            <%= link_to profile_connections_path(@profile), class: "text-decoration-none fs-5" do %>
              <p><%= @profile.followers_count %> <%= t(Connection.human_attribute_name(:follower_id, count: @profile.followers_count ))%></p>
            <% end %>
          </div>
          <div class="text-center d-flex flex-column" id="following-count">
            <%= link_to profile_following_path(@profile), class: "text-decoration-none fs-5" do %>
              <p><%= @profile.followed_count %> <%= t(Connection.human_attribute_name(:followed_profile_id))%> </p>
            <% end %>
          </div>
        </div>
        <div class="mt-2">
          <% if @profile.open_to_work? %>
            <h6 class="text-success"><%= t Profile.human_attribute_name("work_status.#{@profile.work_status}") %></h6>
            <%= button_to 'alterar disponibilidade', work_unavailable_path, method: :patch, class: 'btn btn-outline-primary btn-sm' if current_user.profile == @profile %>
          <% else %>
            <h6 class="text-danger"><%= t Profile.human_attribute_name("work_status.#{@profile.work_status}") %></h6>
            <%= button_to 'alterar disponibilidade', open_to_work_path, method: :patch, class: 'btn btn-outline-primary btn-sm' if current_user.profile == @profile %>
          <% end %>
        </div>
        <div class="mt-3">
          <% if current_user.profile == @profile %>
            <% if @profile.public_profile? %>
              <h6 class="text-success"><%= t Profile.human_attribute_name("privacy.#{@profile.privacy}") %></h6>
            <% else %>
              <h6 class="text-secondary"><%= t Profile.human_attribute_name("privacy.#{@profile.privacy}") %></h6>
            <% end %>
            <%= button_to 'alterar privacidade', change_privacy_path, method: :patch, class: 'btn btn-outline-primary btn-sm' %>
          <% end %>
        </div>
        <br>
        <div class="w-75">
          <% if current_user.profile != @profile %>
            <div>
              <% if @profile.following?(current_user.profile) %>
                <%= button_to 'Deixar de Seguir', connection_unfollow_path(@profile.followers.find_by(follower: current_user.profile)), method: :patch, class: 'btn btn-danger w-50' %>
              <% elsif @profile.inactive_follower?(current_user.profile) %>
                <%= button_to 'Seguir', connection_follow_again_path(@profile.followers.find_by(follower: current_user.profile)), method: :patch, class: 'btn btn-primary w-50' %>
              <% else %>
                <%= button_to 'Seguir', profile_connections_path(@profile), class: 'btn btn-primary w-50' %>
              <% end %>
            </div>
            <div class="mt-2">
              <%= link_to t('reports.report_btn'), new_report_path(reportable: @profile.id, reportable_type: @profile.class), class: 'btn btn-secondary btn-sm' %>
            </div>
          <% end %>
        </div>
      </section>
      <section>
        <%= render 'profile/profile', profile: @profile, professional_infos: @professional_infos, personal_info: @personal_info %>
      </section>
    </aside>
  </div>
</div>
