
<div class="d-flex justify-content-between">
  <%= link_to "Publicações", user_posts_path(@user) %>
  <div class="border-start vh-100">
    <aside class="d-flex flex-column px-5 align-items-center">
      <h2><%= @user.full_name %></h2>
      <div class="d-flex gap-4">
        <div class="d-flex flex-column" id="followers-count">
          <%= link_to profile_followers_path(@profile), class: "text-decoration-none fs-5" do %>
            <p><%= @followers_count %> <%= t(Follower.model_name.human(count: @followers_count))%></p>
          <% end %>
        </div>
        <div class="text-center d-flex flex-column" id="following-count">
          <%= link_to profile_following_path(@profile), class: "text-decoration-none fs-5" do %>
            <p><%= @followed_count %> <%= t(Follower.human_attribute_name(:followed_profile_id))%> </p>
          <% end %>
        </div>
      </div>
      <div class="w-75">
        <% if user_signed_in? && current_user.profile != @profile %>
          <% if @profile.following?(current_user.profile) %>
            <%= button_to 'Deixar de Seguir', follower_path(current_user.find_followed_profile(@profile)), method: :patch, class: 'btn btn-danger w-100' %>
          <% elsif @profile.inactive_follower?(current_user.profile) %>
            <%= button_to 'Seguir', follower_path(current_user.find_followed_profile(@profile)), method: :patch, class: 'btn btn-primary w-100' %>
          <% else %>
            <%= button_to 'Seguir', profile_followers_path(@profile), class: 'btn btn-primary w-50' %>
          <% end %>
        <% elsif current_user.blank? || current_user.profile != @profile  %>
          <%= button_to 'Seguir', profile_followers_path(@profile), class: 'btn btn-primary w-50' %>
        <% end %>
      </div>
    </aside>
  </div>
</div>