<%= link_to connection_profile, class: 'card text-decoration-none py-2 shadow-lg rounded follower-card bg-light-subtle' do %>
  <div class="card-body row justify-content-center align-items-center">
    <div class="col-md-3 col-sm-3 profile-image">
      <% if connection_profile.photo.present? %>
        <%= image_tag connection_profile.photo_attachment, width: '85rem', alt: 'Foto de perfil', class: 'rounded rounded-circle px-2' %>
      <% else %>
        <%= image_tag 'default_portfoliorrr_photo.png', width: '85rem', alt: 'Foto de perfil', class: 'rounded rounded-circle px-2' %>
      <% end %>
    </div>
    <div class="col-md-6">
      <h5 class="card-title text-primary text-decoration-underline"><%= connection_profile.full_name %></h5>
        <% if active_jobs(connection_profile).any? %>
          <% active_jobs(connection_profile).each do |job| %>
            <p class="card-text fw-bold"><%= job.position %> | <%= job.company %></p>
          <% end %>
        <% else %>
          <p class="card-text fw-bold"><%= t Profile.human_attribute_name("work_status.#{connection_profile.work_status}") %></p>
        <% end %>
    </div>
  </div>
<% end %>