  <p>
    <%= professional_info.label :company %>
    <%= professional_info.text_field :company %>
  </p>
  <p>
    <%= professional_info.label :current_job %>
    <%= professional_info.check_box :current_job %>
  </p>
  <p>
    <%= professional_info.label :position %>
    <%= professional_info.text_field :position %>
  </p>
  <p>
    <%= professional_info.label :description %>
    <%= professional_info.text_area :description %>
  </p>
  <p>
    <%= professional_info.label :start_date %>
    <%= professional_info.date_field :start_date %>
  </p>
  <p>
    <%= professional_info.label :end_date %>
    <%= professional_info.date_field :end_date %>
  </p>
  <p>
    <%= professional_info.label :visibility %>
    <%= professional_info.check_box :visibility %>
  </p>
  <p>
    <%= professional_info.submit 'Salvar' %>
  </p>