  <p>
    <%= professional_info.label :company, class:'form-label' %>
    <%= professional_info.text_field :company, class:'form-control' %>
  </p>
  <p class='form-check'>
    <%= professional_info.check_box :current_job, class:"form-check-input" %>
    <%= professional_info.label :current_job, class:"form-check-label" %>
  </p>
  <p>
    <%= professional_info.label :position, class:'form-label' %>
    <%= professional_info.text_field :position, class:'form-control' %>
  </p>
  <p>
    <%= professional_info.label :description, class:'form-label' %>
    <%= professional_info.text_area :description, class:'form-control' %>
  </p>
  <p>
    <%= professional_info.label :start_date, class:'form-label' %>
    <%= professional_info.date_field :start_date, class:'form-control' %>
  </p>
  <p>
    <%= professional_info.label :end_date, class:'form-label' %>
    <%= professional_info.date_field :end_date, class:'form-control' %>
  </p>
  <p class='form-check'>
    <%= professional_info.label :visibility, class:"form-check-label" %>
    <%= professional_info.check_box :visibility, class:"form-check-input" %>
  </p>
  <p class='mt-3'>
    <%= professional_info.submit 'Salvar', class:'btn btn-primary' %>
  </p>