<div class="container d-flex flex-column align-items-center">
  <h2>Notificações</h2>
  <% if @notifications&.any? %>
    <div class="list-group">
      <% @notifications.each do |notification| %>
        <div class="list-group">
          <% if notification.notifiable_type == "Post" %>
            <p><%= notification.notifiable.user.full_name %> fez uma <%= link_to 'publicação', post_path(notification.notifiable) %>
          <% elsif notification.notifiable_type == "Invitation" %>
            <p>Você recebeu um convite para <%= link_to notification.notifiable.project_title, invitation_path(notification.notifiable) %>
          <% elsif notification.notifiable_type == "Connection" %>
            <p><%= link_to notification.notifiable.follower.user.full_name, profile_path(notification.notifiable.follower) %> começou a te seguir
          <% end %>
          há <%= distance_of_time_in_words_to_now(notification.notifiable.created_at) %></p>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>Nenhuma notificação encontrada</p>
  <% end %>
</div>