<div class="container d-flex flex-column align-items-center">
  <h2><%= Notification.model_name.human(count: @notifications.count) %></h2>
  <% if @notifications&.any? %>
    <div class="list-group">
      <% @notifications.each do |notification| %>
        <div class="list-group">
          <% if notification.notifiable.is_a?Post %>
            <p><%= notification.notifiable.user.full_name %> fez uma <%= link_to 'publicação', post_path(notification.notifiable) %>
          <% elsif notification.notifiable.is_a?(Comment) && notification.notifiable.post.user != current_user %>
            <p>
              <%= render(
                partial: "notifications/comment" ,
                locals: { notification: notification }
              )%>
            </p>
          <% elsif notification.notifiable.is_a?(Invitation)%>
            <p>
              Você recebeu um convite para
              <%= link_to notification.notifiable.project_title, invitation_path(notification.notifiable) %>
              há <%= distance_of_time_in_words_to_now(notification.notifiable.created_at) %>
            </p>
          <% elsif notification.notifiable.is_a?Invitation %>
            <p>Você recebeu um convite para <%= link_to notification.notifiable.project_title, invitation_path(notification.notifiable) %>
          <% elsif notification.notifiable.is_a?Connection %>
            <p><%= link_to notification.notifiable.follower.user.full_name, profile_path(notification.notifiable.follower) %> começou a te seguir
          <% end %>

        </div>
      <% end%>
    </div>
  <% else %>
    <p><%= t('.no_notifications') %></p>
  <% end %>
</div>
