<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to 'Portfoliorrr', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <li class="nav-item">
              <%= link_to 'Categorias de trabalho', job_categories_path, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Meu Perfil', user_profile_path, class: 'nav-link' %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= button_to 'Sair', destroy_user_session_path, method: :delete, class: 'btn btn-danger nav-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Entrar', new_user_session_path, class: 'nav-link', 'data-turbo': 'false' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<% if user_signed_in? %>
  <%= form_with url: search_profiles_path, method: :get do |form| %>
    <p>
      <%= form.label :query, "Busca de Perfis" %>
      <%= form.search_field :query, placeholder: 'Digite o nome' %>
      <%= form.submit "Pesquisar" %>
    </p>
  <% end %>
<% end %>
