<div class="container">
  <% if user_signed_in? %>
    <div class="row">
      <section class="col-md-9">
         <div class="border bg-white rounded mb-5 d-flex align-items-center justify-content-center page-header">
          <%= link_to current_user.profile, class: 'd-flex justify-content-center w-25' do %>
            <% if current_user.profile.photo.present? && current_user.profile.valid? %>
              <div class="ratio ratio-1x1 rounded-circle overflow-hidden w-50 my-3">
                <%= image_tag current_user.profile.photo, alt: t('.alt_text'), class: 'img-cover rounded-circle' %>
              </div>
            <% else %>
              <%= image_tag 'default_portfoliorrr_photo.png', alt: t('.alt_text'), class: 'rounded-circle my-3 w-50' %>
            <% end %>
          <% end %>
          <div>
            <%= button_to new_post_path, data: { turbo: false }, method: :get, class: 'btn btn-outline-primary rounded-5 py-3 home-publication-button mt-2 fw-bold' do %>
              <span class="mx-3 text-decoration-underline"><%=t('posts.new.new_post_home')%></span>
            <% end %>
          </div>
        </div>
        <h3>Últimas postagens</h3>
        <% if current_user.profile.followed_count > 0 %>
          <% if @followed_posts.any? %>
            <div class="border-top border-dark-subtle pt-5">
              <%= render partial: 'posts/listing', locals: { posts: @followed_posts.each } %>
            </div>
          <% else %>
            <div class="border-top border-dark-subtle pt-5">
              <h5> <%= t('.what_people_are_posting') %>: </h5>
              <%= render partial: 'posts/listing', locals: { posts: @posts } %>
            </div>
          <% end %>
        <% else %>
          <div class="border-top border-dark-subtle pt-5">
            <h5> <%= t('.follow_someone') %> </h5>
            <%= render partial: 'posts/listing', locals: { posts: @posts } %>
          </div>
        <% end %>
      </section>

      <aside class="home-aside-container col-md-3">
        <div class="most-followed-users">
          <h3 class="home-cards-title bg-white text-center py-4 my-0 rounded-1"> <%= t('.most_followed') %> </h3>
          <% @most_followed.each do |profile| %>
            <div class="bg-white text-center home-cards my-0 py-0 rounded-1">
              <%= link_to profile_path(profile), class: 'row' do %>
                <% if profile.photo.present? && profile.valid? %>
                  <div class="ratio ratio-1x1 rounded-circle overflow-hidden w-25">
                    <%= image_tag profile.photo, alt: t('.alt_text'), width: '70rem', class: 'profile-picture img-cover rounded-circle mx-auto mt-2 col-md-4' %>
                  </div>
                <% else %>
                  <%= image_tag 'default_portfoliorrr_photo.png', width: '70rem', alt: t('.alt_text'), class: 'rounded-circle mx-auto mt-2 col-md-4' %>
                <% end %>
                <div class="col-md-8 mt-4">
                  <h5><%= profile.full_name %></h5>
                  <p class="text-dark"><%= profile.followers_count %> <%= t('followers', count: profile.followers_count) %></p>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <div>
          <h3 class="text-center home-cards-title bg-white text-center py-4 my-0 rounded-1 mt-4">Publicado recentemente</h3>
          <div class="d-flex flex-column">
            <% get_tags(10).uniq.each do |tag| %>
              <%= link_to searches_path(query: "##{tag}"), class:"bg-white text-center home-cards my-0 py-0 rounded-1" do %>
                <h6>#<%= tag %></h6>
              <% end %>
            <% end %>
          </div>
        </div>
      </aside>
    </div>
  <% else %>
    <section>
      <div>
        <div class="row g-0 d-flex align-items-center border-bottom justify-content-center">
          <%= image_tag 'logop.svg', class: 'home_logo col-sm-8 col-md-2'%>
          <h3 class="col-6 col-md-4">
            <%= t('.find_connect_shine') %> <br>
            <span> <%= t('.your_profile_your_space') %> </span><br>
             <span class="text-primary fw-bold py-3"><%= t('.become_part_of_comunity') %></span> <br>
            <%= link_to t('.create_account_btn'), new_user_registration_path, class: 'btn btn-primary col-10 py-2 my-4 fs-4' %>
          </h3>
        </div>
      </div>

      <h2><%= t('.feed') %></h2>
      <div>
        <h4><%= t('.find_out_more.do') %> <%= link_to t('.login'), new_user_session_path %> <%= t('.find_out_more.or') %> <%= link_to t('.create_account'), new_user_registration_path %> <%= t('.find_out_more.find_out') %></h4>
      </div>
    </section>
  <% end %>
</div>
