<h2><%= t('settings.profile_settings') %></h2>
<div>
	<%= form_with(url: deactivate_profile_path, method: :patch) do |form| %>
		<p><strong class="text-danger"><%= t('settings.attention') %>:</strong> <%= t('settings.arquive') %></p>
		<%= form.submit t('settings.arquive_btn'),
			class: "btn btn-danger",
			data: { turbo_confirm: 'Seu perfil será DESATIVADO, deseja prosseguir?' }
		%>
	<% end %>
</div>

<div>
	<%= form_with(url: delete_account_path, method: :delete) do |form| %>
		<p><strong class="text-danger"><%= t('settings.attention') %>:</strong> <%= t('settings.delete') %></p>
		<%= form.submit t('settings.delete_btn'),
			class: "btn btn-danger",
			data: { turbo_confirm: 'Sua conta será EXCLUÍDA, deseja prosseguir?' }
		%>
	<% end %>
</div>
