<div class="container" id="vue-projects-app">
  <h2 class="text-center"><%= t('.index_title') %> </h2>

  <div v-if="emptyData" class="text-center">
    <p>{{ emptyData }}</p>
  </div>

  <div class="row" v-else>
    <div class="col-md-4 mx-auto mt-3">
      <label class="form-label visually-hidden" for="searchText"><%= t('.search') %></label>
      <input class="form-control" v-model="searchText" type="text" name="searchText" id="searchText" placeholder="Digite sua pesquisa">

      <div class="d-flex gap-3 mt-3">
        <button class="btn btn-primary" v-on:click="setFilter('todos')" v-bind:class="{ 'btn-secondary': 'todos' === selectedFilter }">
          <%= t('all') %>
        </button>

        <button class="btn btn-primary" v-on:click="setFilter('title')" v-bind:class="{ 'btn-secondary': 'title' === selectedFilter }">
          <%= t('projects.attributes.title') %>
        </button>

        <button class="btn btn-primary" v-on:click="setFilter('description')" v-bind:class="{ 'btn-secondary': 'description' === selectedFilter }">
          <%= t('projects.attributes.description') %>
        </button>

        <button class="btn btn-primary" v-on:click="setFilter('category')" v-bind:class="{ 'btn-secondary': 'category' === selectedFilter }">
          <%= t('projects.attributes.category') %>
        </button>
      </div>
    </div>

    <h3 v-if="errorMsg" class="mt-5 alert alert-danger text-center">
      <%= t('.errors.load') %>
    </h3>

    <h3 v-else-if="projects.length && filteredProjects.length === 0 && !errorMsg" class="mt-5 alert alert-warning text-center">
      <%= t('.errors.not_found') %>
    </h3>

    <h3 v-else-if="projects.length == 0 && !errorMsg" class="mt-5 alert alert-warning text-center">
      <%= t('.errors.no_result') %>
    </h3>
    
    <div v-else>
      <div class="mt-5 border-top w-50 mx-auto" v-for="project in filteredProjects" :key="project.id">
        <h3 class="mt-3">{{ project.title }}</h3>
        <p><%= t('projects.attributes.description') %>: {{ project.description }}</p>
        <p><%= t('projects.attributes.category') %>: {{ project.category }}</p>

        <button class="btn btn-primary" @click="showForm(project.id)" v-if="!invitationRequestsProjectsIds.includes(project.id)" ><%= t('.request_invitation') %></button>
        <button v-else class="btn btn-warning" disabled ><%= t('.invitation_requested') %></button>

        <div v-if="showingForm && currentProjectId === project.id">
          <%= form_with(model: @invitation_request, url: invitation_request_path, method: :post, local: true) do |form| %>
            <input type="hidden" name="project_id" :value="project.id" />

            <p>
              <%= form.label :message, class: 'form-label' %>
              <%= form.text_area :message, class: 'form-control', placeholder: t('.request_message') %>
            </p>

            <p>
              <%= form.submit t('send_btn'), class: 'btn btn-primary' %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var invitationRequestsProjectsIds = <%= @invitation_requests_projects_ids %>
</script>