<div class="container w-50">
  <div class="d-flex justify-content-center">
    <%= image_tag 'logop.png', class:'home_logo' %>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|%>
    <p class="field">
      <%= f.label :email, class: 'form-label' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </p>

    <p class="field">
      <%= f.label :password, class: 'form-label' %>
      <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
    </p>

    <% if devise_mapping.rememberable? %>
      <p class="field form-check">
        <%= f.check_box :remember_me, class: 'form-check-input' %>
        <%= f.label :remember_me, class: 'form-check-label' %>
      </p>
    <% end %>

    <p class="actions d-flex align-items-center mt-3 gap-3">
      <%= f.submit "Entrar", class: 'btn btn-primary fs-5' %>
    
      <%= render "devise/shared/links" %>
    </p>
  <% end %>
</div>

