<p><%= t('.greeting', recipient: @user.full_name) %></p>

<p><%= t('.profile_activity') %>:</p>
<dl>
  <dd> <%= t('.post_likes', like_count: @post_likes.count) if @post_likes.any? %></dd>
  <dd><%= t('.comment_likes', like_count: @comment_likes.count) if @comment_likes.any? %></dd>
</dl>
<% if @post_likes.any? %>
  <p><%= t('.most_liked_post') %> <%= link_to @most_liked_post.title, post_url(@most_liked_post) %></p>
<% end %>
<% if @comment_likes.any? %>
  <p><%= t('.most_liked_comment', comment: @most_liked_comment.message) %> <%= link_to @most_liked_comment.post.title, post_url(@most_liked_comment.post) %></p>
<% end %>

<p><%= link_to t('click_btn'), profile_url(@user.profile) %> <%= t('.access_profile') %></p>
<%= t('.regards') %>,
<p>Portfoliorrr</p>