<div class="container d-flex flex-column align-items-center">
  <h2>Resultados da Pesquisa</h2>

  <% if @profiles&.any? %>
    <h3><%= @profiles.count %> <%= t('profiles.search.results', count: @profiles.count) %> para: <%= @query %></h3>
    <% @profiles.each do |profile| %>
      <%= link_to profile, class: "search-result card text-decoration-none py-2 px-5 rounded follower-card bg-light-subtle mt-3 w-50" do %>
        <div class="card-body row justify-content-center align-items-center">
          <div class="col-md-4 col-sm-3 profile-image">
            <% if profile.photo.present? %>
              <%= image_tag profile.photo_attachment, width: '100rem', alt: 'Foto de perfil', class: 'rounded rounded-circle px-2' %>
            <% else %>
              <%= image_tag 'default_portfoliorrr_photo.png', width: '100rem', alt: 'Foto de perfil', class: 'rounded rounded-circle px-2' %>
            <% end %>
          </div>
          <div class="col-md-8">
            <h3 class="card-title text-primary text-decoration-underline text-center"><%= profile.full_name %></h3>
            <% if profile.personal_info.city && profile.personal_info.state %>
              <p class="text-center"><%= profile.personal_info.city %> - <%= profile.personal_info.state %></p>
            <% end %>
            <% if profile.job_categories.any? %>
              <div class="d-flex gap-3 justify-content-center">
                <% profile.job_categories.first(3).each do |category| %>
                  <p class="border border-1 border-light rounded bg-primary p-1 text-center text-light"> <%= category.name %> </p>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% elsif @posts&.any? %>
      <h3 class="mb-3"><%= @posts.size %> <%= Post.model_name.human count: @posts.size %> com: #<%= @tags.join(', #') %></h3>
  
      <%= render partial: 'posts/listing', locals: { posts: @posts.each } %>
      
  <% else %>
    <p>Nenhum resultado encontrado com: <%= @query %></p>
  <% end %>
</div>


