<%= form_with model: @post, class: 'mt-3' do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :content %> <span class='text-warning-emphasis'><small><%= t('.suported_files') %></small></span>
    <%= f.rich_text_area :content, id: 'conteudo', class: 'form-control' %>
  </div>

  <div class="form-group my-3">
    <%= f.label :status_published, class: 'form-check-label' %>
    <%= f.radio_button :status, 'published', class: 'me-2 form-check-input' %> <br>

    <%= f.label :status_draft, class: 'form-check-label' %>
    <%= f.radio_button :status, 'draft', class:'me-2 form-check-input' %> <br>

    <%= f.label :status_archived, class: 'form-check-label' %>
    <%= f.radio_button :status, 'archived', class:'me-2 form-check-input' %> <br>
    
    <% if !@post.published? || request.path == new_post_path %>
      <%= f.label :status_scheduled, class: 'form-check-label' %>
      <%= f.radio_button :status, 'scheduled', class: 'me-2 form-check-input mb-3' %>
      <%= f.datetime_field :published_at, class: 'form-control w-25' %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :tag_list %>
    <%= f.text_field :tag_list, class: 'form-control', value: @post.tag_list.join(',') %>
  </div>

  <%= f.submit t('save_btn'), class: 'btn btn-primary mt-3' %>
<% end %>

<script>
  document.addEventListener("DOMContentLoaded", function() {
  const statusRadioButtons = document.querySelectorAll("input[name='post[status]']");
  const scheduledRadioButton = document.querySelector("#post_status_scheduled");
  const publishedAtField = document.querySelector("#post_published_at");

  const togglePublishedAtField = () => {
    if (scheduledRadioButton.checked) {
      publishedAtField.disabled = false;
    } else {
      publishedAtField.disabled = true;
    }
  };

  statusRadioButtons.forEach(button => {
    button.addEventListener('click', togglePublishedAtField);
  });

  togglePublishedAtField();
});
</script>