<% posts.each_with_index do |post, index| %>
  <div class="feed-post shadow mb-4 p-3 rounded row" id="post-list">
    <%= link_to post, class: "text-decoration-none link-dark col-md-10" do %>
      <div class="card-body">
        <h4 class="text-break text-primary"><%= post.title %></h4>
        <% if post.exists_image_attached? %>
          <%= image_tag post.first_image_attached.representation(resize_to_limit: [ 1024, 300 ]), class:"img-fluid rounded mx-auto d-block mb-2"  %>
        <% end %>
        <p>
          <%= content_fixer(post)  %>
        </p>
        <p class="card-subtitle mb-2 text-muted"><%= t('.published_by') %>: <%= post.user.full_name %></p>
        <% if post.scheduled?%>
          <small datetime="<%= post.published_at.to_datetime %>">
            <%= date_fixer(post) %> <%= I18n.l(post.published_at.to_datetime, format: :long) %>
          </small>
        <% else %>
          <small datetime="<%= post.published_at ? post.published_at.to_datetime : post.created_at.to_datetime %>">
            Há <%= distance_of_time_in_words(Time.now, post.published_at ? post.published_at : post.created_at) %>
          </small>
        <% end %>
      </div>
    <% end %>
    <% if current_user == post.user %>
      <div class="text-center mt-2 col-md-2" id="post-<%= post.id %>">
        <% if request.path == profile_path(post.user.profile) %>
          <% if post.pinned? %>
            <%= button_to pin_post_path(post), method: :post, class: "btn border border-primary btn-sm", id: 'unpin' do %>
              <%= image_tag 'pin-angle-fill.svg' %>
            <% end %>
          <% else %>
            <%= button_to pin_post_path(post), method: :post, class: "btn border border-primary btn-sm", id: 'pin' do %>
              <%= image_tag 'pin-angle.svg' %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if (index+1) % 5 == 0 %>
    <%= render partial: 'advertisements/advertisement', locals: { advertisement: Advertisement.displayed.first } %>
  <% end %>
<% end %>
