<% posts.each do |post| %>
  <div class="d-flex align-items-center border-bottom border-1 ">
    <%= link_to post, class:"text-decoration-none w-50" do %>
      <div class="my-5 p-3 feed-post text-dark fs-4">
        <h4 class="text-break"><%= post.title %></h4>
        <p>Publicado por: <%= post.user.full_name %></p>
        <%= I18n.l(post.created_at, format: :long) %>
      </div>
    <% end %>
  <% if current_user == post.user %>
    <div class="w-50 text-center" id="post-<%= post.id %>">
      <% if post.pinned? %>
        <%= button_to "Desfixar", pin_post_path(post), method: :post, class: "btn btn-primary" %>
      <% else %>
        <%= button_to "Fixar", pin_post_path(post), method: :post, class: "btn btn-primary" %>
      <% end %>
    </div>
  <% end %>
  </div>
<% end %>
