<% posts.each do |post| %>
  <div class="d-flex align-items-center border-bottom border-1 ">
    <%= link_to post, class:"text-decoration-none w-50" do %>
      <div class="my-5 p-3 feed-post text-dark fs-4">
        <h4 class="text-break"><%= post.title %></h4>
        <p>Publicado por: <%= post.user.full_name %></p>
        <p><%= I18n.l(post.created_at, format: :long) %> -
        <%= distance_of_time_in_words(Time.now, post.created_at) %></p>
        <div>
          <%= post.content.split(' ').first(50).join(' ') %>
        </div>
      </div>
    <% end %>
  <% if current_user == post.user %>
    <div class="w-50 text-center" id="post-<%= post.id %>">
      <% if request.path == profile_path(post.user.profile) %>
        <% btn_value =  post.pinned? ? 'Desfixar' : 'Fixar' %>
        <%= button_to btn_value, pin_post_path(post), method: :post, class: "btn btn-primary" %>
      <% end %>
    </div>
  <% end %>
  </div>
<% end %>
