<div class="card text-muted">
  <div class="card-body">
    <h2 class="card-title"><%= @post.title %></h2>
    <div class="my-4">
      <% if current_user == @post.user %>
        <%= link_to "Editar", edit_post_path(@post), class: 'btn btn-primary', data: { turbo: false } %>
        <%= Post.human_attribute_name @post.status %>
      <% end %>
    </div>

    <h6 class="card-subtitle mb-2">
      <%= t('posts.views.show.authored_by', author_name: @post.user.full_name) %>
    </h6>

    <p class="card-text"><%= @post.content %></p>

    <% if @post.draft? %>
      <p class="card-subtitle mb-2">
        <time datetime="<%= @post.created_at.to_date %>">  
          <%= date_fixer(@post) %> <%= I18n.l(@post.created_at.to_datetime, format: :long) %>
        </time>
      </p>
    <% else %>
      <p class="card-subtitle mb-2">
        <time datetime="<%= @post.created_at.to_date %>">  
          <%= date_fixer(@post) %> <%= I18n.l(@post.published_at ? @post.published_at.to_datetime : @post.created_at.to_datetime, format: :long) %>
        </time>
      </p>
    <% end %>
    <p>
      <time datetime="<%= @post.edited_at.to_date %>">
        <%= t('posts.views.show.last_update', update_date: I18n.l(@post.edited_at.to_datetime, format: :long)) %>
      </time>
    </p>
    
    <p class="card-subtitle mb-2 text-body-secondary tags">
      <% @post.tags.each do |tag| %>
        <%= link_to "##{tag.name}", searches_path(query: "##{tag.name}"), class: 'text-decoration-none' %>
      <% end %>
    </p>

    <div class="btn-group">
      <div class="me-2">
        <%= @likes_count %> <%= Like.model_name.human(count: @likes_count) %>
      </div>
      <% if @liked %>
          <%= button_to 'Descurtir', like_path(post_like_id: @liked), method: :delete, class: 'btn btn-danger btn-sm' %>
      <% else %>
          <%= button_to 'Curtir', likes_path(post_id: @post), method: :post, class: 'btn btn-primary btn-sm' %>
      <% end %>
    </div>
  </div>
</div>

<%= form_with model: [@post, @comment] , method: :post, class: 'mt-3' do |form| %>
  <%= form.text_area :message, placeholder: "Mensagem", class:"form-control" %>
  <%= form.submit "Comentar", class:"btn btn-primary mt-2" %>
<% end %>


<div id="comments", class="card mt-3 mb-3 text-muted">
  <div class="card-header">
    <%= @post.comments.count %> <%= Comment.model_name.human(count: @post.comments.count) %>
  </div>
  <% @post.comments.each do |comment| %>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p><%= comment.message %></p>
        <footer class="blockquote-footer">
          <%= comment.user.full_name %> <%= '(autor)' if comment.user == @post.user %>
        </footer>
      </blockquote>

      <div class="btn-group">
        <div class="me-2">
          <%= comment.likes.count %> <%= Like.model_name.human(count: comment.likes.count) %>
        </div>
        <% if user_signed_in? && comment.likes.where(user_id: current_user.id).any? %>
          <% like = comment.likes.find_by(user_id: current_user.id) %>
          <%= button_to 'Descurtir', like_path(comment_like_id: like.id), method: :delete, class: 'btn btn-danger btn-sm' %>
        <% else %>
          <%= button_to 'Curtir', likes_path(comment_id: comment.id), method: :post, class: 'btn btn-primary btn-sm' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>