<div class="card text-muted">
  <div class="card-body">
    <h2 class="card-title"><%= @post.title %></h2>
    <div class="my-4">
      <% if current_user == @post.user %>
        <%= link_to "Editar", edit_post_path(@post), class: 'btn btn-primary', data: { turbo: false } %>
        <%= Post.human_attribute_name @post.status %>
      <% else %>
        <%= link_to t('reports.report_btn'), new_report_path(reportable: @post, reportable_type: @post.class), class: 'btn btn-secondary btn-sm' %>
      <% end %>
    </div>

    <h6 class="card-subtitle mb-2">
      <%= link_to t('posts.views.show.authored_by', author_name: @post.user.full_name), @post.user.profile %>
    </h6>

    <p class="card-text"><%= @post.content %></p>

    <% if @post.draft? %>
      <p class="card-subtitle mb-2">
        <time datetime="<%= @post.created_at.to_date %>">
          <%= date_fixer(@post) %> <%= I18n.l(@post.created_at.to_datetime, format: :long) %>
        </time>
      </p>
    <% else %>
      <p class="card-subtitle mb-2">
        <time datetime="<%= @post.published_at ? @post.published_at.to_datetime : @post.created_at.to_datetime %>">
          <%= date_fixer(@post) %> <%= I18n.l(@post.published_at ? @post.published_at.to_datetime : @post.created_at.to_datetime, format: :long) %>
        </time>
      </p>
    <% end %>
    <p>
      <time datetime="<%= @post.edited_at.to_date %>">
        <%= t('posts.views.show.last_update', update_date: I18n.l(@post.edited_at.to_datetime, format: :long)) %>
      </time>
    </p>

    <p class="card-subtitle mb-2 text-body-secondary tags">
      <% @post.tags.each do |tag| %>
        <%= link_to "##{tag.name}", searches_path(query: "##{tag.name}"), class: 'text-decoration-none' %>
      <% end %>
    </p>

    <div class="btn-group">
      <% if @liked %>
        <%= button_to post_like_path(@post, @liked), method: :delete, class: 'btn btn-sm', id: 'unlike' do %>
          <%= image_tag 'thumbs-up-solid', width: '20rem' %>
        <% end %>
      <% else %>
        <%= button_to post_likes_path(@post), method: :post, class: 'btn btn-sm', id: 'like' do %>
          <%= image_tag 'thumbs-up-regular', width: '20rem' %>
        <% end %>
      <% end %>
      <div class="me-2 mt-2">
        <%= @likes_count %> <%= Like.model_name.human(count: @likes_count) %>
      </div>
    </div>
  </div>
</div>

<%= form_with model: [@post, @comment] , method: :post, class: 'mt-3' do |form| %>
  <%= form.text_area :message, placeholder: "Mensagem", class:"form-control" %>
  <%= form.submit "Comentar", class:"btn btn-primary mt-2" %>
<% end %>


<div id="comments", class="card mt-3 mb-3">
  <div class="card-header">
    <%= @post.comments.count %> <%= Comment.model_name.human(count: @post.comments.count) %>
  </div>
  <% @post.comments.each do |comment| %>
    <div class="card-body" id="<%= dom_id(comment) %>">
      <footer>
        <h5>
          <% if comment.user.profile.photo.present? %>
            <%= image_tag comment.user.profile.photo, alt: 'Foto de perfil', width: '35rem', class: 'rounded-circle mx-3' %>
          <% else %>
            <%= image_tag 'default_portfoliorrr_photo.png', alt: 'Foto de perfil', width: '35rem', class: 'rounded-circle mx-3' %>
          <% end %>
          <%= link_to comment.user.full_name, comment.user.profile %> <%= '(autor)' if comment.user == @post.user %>
        </h5>
        <p class="comment-message"><%= comment.message %></p>
      </footer>
      <% if comment.user.deleted_at.nil? %>
        <div class="btn-group flex-column">
          <div>
            <div class="mt-2 me-2">
              <div class="d-flex align-items-center comment-actions">
                <% if user_signed_in? && comment.likes.where(user_id: current_user.id).any? %>
                  <% like = comment.likes.find_by(user_id: current_user.id) %>
                  <%= button_to comment_like_path(comment, like), method: :delete, class: 'btn btn-sm', id: 'unlike' do %>
                    <%= image_tag 'thumbs-up-solid', width: '20rem', class: 'mb-2' %>
                  <% end %>
                <% else %>
                  <%= button_to comment_likes_path(comment), method: :post, class: 'btn btn-sm', id: 'like' do %>
                    <%= image_tag 'thumbs-up-regular', width: '20rem', class: 'mb-2' %>
                  <% end %>
                <% end %>
                <span><%= comment.likes.count %> <%= Like.model_name.human(count: comment.likes.count) %></span>
                <button onClick="showForm(<%= comment.id %>)" class="btn btn-outline-primary rounded-5 border-0 mx-2"><%= t('reply')%></button> 
                <% if current_user != comment.user %>
                  <div class="report-link-wrapper mt-3">
                    <p><%= link_to t('reports.report_btn'), new_report_path(reportable: comment, reportable_type: comment.class), class: 'btn btn-secondary btn-sm' %></p>
                  </div>
                <% end %>
              </div>
              <div class="reply-form">
                <%= form_with model: [comment, @reply], method: :post, class:'d-none row align-items-center mt-3', id:"comment-#{comment.id}" do |form| %>
                  <div class="col-md-12">
                    <%= form.label :message, class: 'd-none' %>
                    <%= form.text_area :message, placeholder: 'Adicione uma resposta...', class: 'form-control' %>
                  </div>
                  <div class="col-md-6 mt-2">
                    <%= form.submit t('replies.send'), class: 'btn btn-primary' %>
                  </div>
                <% end %>
              </div>
              <% if comment.replies.any? %>
                <button class="btn btn-outline-info border-0 rounded-5 mt-2 dropdown-toggle reply-collapser" 
                        type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#collapseReplies<%= comment.id %>" 
                        aria-expanded="false" 
                        aria-controls="collapseReplies<%= comment.id %>">
                  <%= comment.replies.count %> <%= Reply.model_name.human(count: comment.replies.count) %>
                </button>
                <div class="collapse mx-5 mt-3 reply-content" id="collapseReplies<%= comment.id %>">
                  <% comment.replies.each do |reply| %>
                    <h6 class="mt-2">
                      <% if reply.user.profile.photo.present? %>
                        <%= image_tag reply.user.profile.photo, alt: 'Foto de perfil', width: '30rem', class: 'rounded-circle mx-3' %>
                      <% else %>
                        <%= image_tag 'default_portfoliorrr_photo.png', alt: 'Foto de perfil', width: '30rem', class: 'rounded-circle mx-3' %>
                      <% end %>
                      <%= link_to reply.user.full_name, reply.user.profile %> <%= '(autor)' if reply.user == @post.user %>
                      <small datetime="<%= reply.created_at.to_datetime %>">
                        há <%= distance_of_time_in_words(Time.now, reply.created_at) %>
                      </small>
                    </h6>
                    <div class="reply-content text-dark">
                      <p class="mx-2"><%= reply.message %></p>
                      <div class="btn-group d-flex align-items-center mt-4">
                        <% if user_signed_in? && reply.likes.where(user_id: current_user.id).any? %>
                        <% like = reply.likes.find_by(user_id: current_user.id) %>
                          <%= button_to reply_like_path(reply, like), method: :delete, class: 'btn btn-sm', id: 'unlike' do %>
                            <%= image_tag 'thumbs-up-solid', width: '20rem' %>
                          <% end %>
                        <% else %>
                          <%= button_to reply_likes_path(reply), method: :post, class: 'btn btn-sm', id: 'like' do %>
                            <%= image_tag 'thumbs-up-regular', width: '20rem' %>
                          <% end %>
                        <% end %>
                        <div class="me-2 mt-2">
                          <%= reply.likes.count %> <%= Like.model_name.human(count: reply.likes.count) %>
                        </div>
                        <% if current_user != reply.user %>
                          <div class="report-link-wrapper mt-3">
                            <p><%= link_to t('reports.report_btn'), new_report_path(reportable: reply, reportable_type: reply.class), class: 'btn btn-secondary btn-sm' %></p>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>
              <%end%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<script>
  document.addEventListener('turbo:load', () => {
    if (window.location.pathname === "/posts/<%= @post.id%>")  {
      const anchor_tag = window.location.hash;
      if (anchor_tag) {
        const comment = document.querySelector(anchor_tag);
        if (comment) {
          comment.classList.add('highlighted');
          setTimeout(function() {
            comment.classList.remove('highlighted');
          }, 4000);
        }
      }
    };
  });

  function showForm(id){
    form = document.getElementById(`comment-${id}`)
    form.classList.toggle('d-none')
  }
</script>
