<h2><%= EducationInfo.model_name.human %></h2>

<%= render 'error_message', education_info: @education_info %>

<%= form_with model: @education_info, url: education_info_path(@education_info) do |education_info| %>
  <%= render 'form', education_info: education_info %>
<% end %>
<%= link_to 'Voltar', request.referer || root_path, class: 'btn btn-secondary' %>