<p><%= t('.greeting', recipient: @profile.full_name) %></p>

<p><%= t('.body', title: @project_title) %></p>

<p><%= link_to t('click_btn'), invitations_url %> <%= t('.access_invitations') %></p>
<%= t('.regards') %>
<p>Portfoliorrr</p>