<ul>
  <% personal_info.each do |attribute, value| %>    
    <% if value && attribute == 'birth_date' %>
    <li>
      <%= PersonalInfo.human_attribute_name(attribute) %>:
      <%= l(value.to_date) %>
    </li>
    <% elsif attribute == 'visibility' %>
      <% if user_is_owner %>
      <li>
        <%= PersonalInfo.human_attribute_name(attribute) %>:
        <%= t(value) %>
      </li>
      <% end %>
    <% else %>
      <li>
        <%= PersonalInfo.human_attribute_name(attribute) %>:
        <%= value %>
      </li>
    <% end %>  
  <% end %>
</ul>