<h2>Informações Pessoais</h2>
<p>
  <%= link_to 'Preencher Depois', root_path, class: 'btn btn-secondary' %> 
</p>
<%= form_with model: @profile, url: user_profile_path, method: :patch do |form| %>
  <%= form.fields_for :personal_info do |personal_info| %>
    <p>
      <%= personal_info.label :street, class:'form-label' %>
      <%= personal_info.text_field :street, class:'form-control' %>
    </p>
    <p>
      <%= personal_info.label :street_number, class:'form-label' %>
      <%= personal_info.text_field :street_number, class:'form-control' %>
    </p>
    <p>
      <%= personal_info.label :area, class:'form-label' %>
      <%= personal_info.text_field :area, class:'form-control' %>
    </p>
    <p>
      <%= personal_info.label :city, class:'form-label' %>
      <%= personal_info.text_field :city, class:'form-control' %>
    </p>
    <p>
      <%= personal_info.label :state, class:'form-label' %>
      <%= personal_info.text_field :state, class:'form-control' %>
    </p>
    <p>
      <%= personal_info.label :zip_code, class:'form-label' %>
      <%= personal_info.text_field :zip_code, class:'form-control' %>
    </p>
    <p>
      <%= personal_info.label :phone, class:'form-label' %>
      <%= personal_info.text_field :phone, class:'form-control' %>
    </p>
    <p>
      <%= personal_info.label :birth_date, class:'form-label' %>
      <%= personal_info.date_field :birth_date, class:'form-control' %>
    </p>
    <p class='form-check mt-3'>
      <%= personal_info.check_box :visibility, class:"form-check-input"  %>
      <%= personal_info.label :visibility, class:"form-check-label" %>
    </p>
  <% end %>

  <p class='mt-3'>
    <%= form.label :cover_letter, class:'form-label' %>
    <%= form.text_area :cover_letter, class:'form-control'  %>
  </p>

  <%= form.submit 'Salvar', class:'btn btn-primary' %>
<% end %>
