<h2>Informações Pessoais</h2>
<%= form_with model: @profile, url: user_profile_path, method: :patch do |form| %>
  <%= form.fields_for :personal_info do |personal_info| %>
    <p>
      <%= personal_info.label :street %>
      <%= personal_info.text_field :street %>
    </p>
    <p>
      <%= personal_info.label :street_number %>
      <%= personal_info.text_field :street_number %>
    </p>
    <p>
      <%= personal_info.label :area %>
      <%= personal_info.text_field :area %>
    </p>
    <p>
      <%= personal_info.label :city %>
      <%= personal_info.text_field :city %>
    </p>
    <p>
      <%= personal_info.label :state %>
      <%= personal_info.text_field :state %>
    </p>
    <p>
      <%= personal_info.label :zip_code %>
      <%= personal_info.text_field :zip_code %>
    </p>
    <p>
      <%= personal_info.label :phone %>
      <%= personal_info.text_field :phone %>
    </p>
    <p>
      <%= personal_info.label :birth_date %>
      <%= personal_info.date_field :birth_date %>
    </p>
    <p>
      <%= personal_info.label :visibility %>
      <%= personal_info.check_box :visibility %>
    </p>
  
    <p>
      <%= form.label :cover_letter %>
      <%= form.text_area :cover_letter %>
    </p>
  <% end %>
  
<h2>Experiência Profissional</h2>
  <%= form.fields_for :professional_infos do |professional_info| %>
    
    <p>
      <%= professional_info.label :company %>
      <%= professional_info.text_field :company %>
    </p>
    <p>
      <%= professional_info.label :position %>
      <%= professional_info.text_field :position %>
    </p>
    <p>
      <%= professional_info.label :start_date %>
      <%= professional_info.date_field :start_date %>
    </p>
    <p>
      <%= professional_info.label :end_date %>
      <%= professional_info.date_field :end_date %>
    </p>
    <p>
      <%= professional_info.label :visibility %>
      <%= professional_info.check_box :visibility %>
    </p>
  <% end %>

  <%= form.submit 'Salvar' %>
<% end %>
