<%= link_to 'Editar Informações Pessoais', edit_user_profile_path %>

<div>
  <h2><%= @profile.user.full_name %></h2>
  <p>Email: <%= @profile.user.email %></p>
  <p>Carta de Apresentação: <%= @profile.cover_letter %></p>

  <h3>Informações Pessoais</h3>
  <ul>
    <li>Endereço: <%= @profile.user.personal_info.street %></li>
    <li>Bairro: <%= @profile.user.personal_info.area %></li>
    <li>CEP: <%= @profile.user.personal_info.zip_code %></li>
    <li>Cidade: <%= @profile.user.personal_info.city %></li>
    <li>Estado: <%= @profile.user.personal_info.state %></li>
    <li>Telefone: <%= @profile.user.personal_info.phone %></li>
    <li>Data de Nascimento: <%= l @profile.user.personal_info&.birth_date if @profile.user.personal_info&.birth_date %></li>
    <li>Visível: <%= t(@profile.user.personal_info.visibility) %></li>
  </ul>
  
  <h3>Experiência Profissional</h3>
    <% @profile.professional_infos.each do |professional_info| %>
      <ul>
        <li>Empresa: <%= professional_info.company %></li>
        <li>Cargo: <%= professional_info.position %></li>
        <li>Entrada: <%= l professional_info.start_date if professional_info.start_date%></li>
        <li>Saída: <%= l professional_info.end_date if professional_info.end_date %></li>

        <li>Visível: <%= t(professional_info.visibility) %></li>
      </ul>
    <% end %>
</div>
