<div class="d-flex">
  <div class="container d-flex flex-column w-50">
    <div class="mt-3">
      <% if @report.reportable.is_a? Post %>
        <h1><%= Post.model_name.human %></h1>
        <%= render partial: 'post', locals: { post: @report.reportable } %>
      <% end %>

      <% if @report.reportable.is_a? Comment %>
        <h1><%= Comment.model_name.human %></h1>
        <%= render partial: 'comment', locals: { comment: @report.reportable } %>
      <% end %>

      <% if @report.reportable.is_a? Profile %>
        <h1><%= Profile.model_name.human %></h1>
        <%= render partial: 'profile', locals: { profile: @report.reportable } %>
      <% end %>
    </div>
  </div>

  <div class="container d-flex flex-column w-50">
    <aside>
      <div class="mt-3">
        <h1><%= Report.model_name.human %></h1>
      </div>
      <div class="card text-dark d-flex flex-column px-5 shadow mb-4 p-3 rounded justify-content-center">
        <div class="card-body">

          <h2 class="card-title"><%= @report.offence_type %></h2>

          <h6 class="card-subtitle mb-2">
            <small><%= @report.created_at.strftime(('%d/%m/%Y %H:%M')) %></small>
          </h6>

          <p class="card-text"><%= @report.message %></p>

          <p class="card-subtitle mb-2 text-muted">
            <%= I18n.t('reports.reporting_profile') %>: <%= link_to @report.profile.full_name, profile_path(@report.profile) %>
          </p>
        </div>
      </div>
    </aside>
  </div>
<div>

