<div class="d-flex">
  <div class="container d-flex flex-column w-50">
    <div class="mt-3">
      <% if @report.reportable.is_a? Post %>
        <h1><%= Post.model_name.human %></h1>
        <%= render partial: 'post', locals: { post: @report.reportable } %>
      <% end %>

      <% if @report.reportable.is_a? Comment %>
        <h1><%= Comment.model_name.human %></h1>
        <%= render partial: 'comment', locals: { comment: @report.reportable } %>
      <% end %>

      <% if @report.reportable.is_a? Profile %>
        <h1><%= Profile.model_name.human %></h1>
        <%= render partial: 'profile', locals: { profile: @report.reportable } %>
      <% end %>
    </div>
  </div>

  <div class="container d-flex flex-column w-50">
    <aside>
      <div class="mt-3">
        <h1><%= Report.model_name.human %></h1>
      </div>
      <div class="card text-dark d-flex flex-column px-5 shadow mb-4 p-3 rounded justify-content-center">
        <div class="card-body">

          <h2 class="card-title"><%= @report.offence_type %></h2>

          <h6 class="card-subtitle mb-2">
            <small><%= @report.created_at.strftime(('%d/%m/%Y %H:%M')) %></small>
          </h6>

          <p class="card-text"><%= @report.message %></p>

          <p class="card-subtitle mb-2 text-muted">
            <%= I18n.t('.reporting_profile') %>: <%= link_to @report.profile.full_name, profile_path(@report.profile) %>
          </p>
          <% if @report.pending? %>
            <div class="d-flex flex-row justify-content-center mt-5 gap-5">
              <% unless @report.reportable.is_a? Profile %>
                <%= button_to t('reports.remove_content_btn'), remove_content_report_path(@report), class:'card-btn flex-column btn btn-danger btn-lg' %>
              <% end %>
              <%= button_to t('reports.reject_btn'), reject_report_path(@report), class:'card-btn flex-column btn btn-secondary btn-lg ml-2' %>
            </div>
          <% else %>
            <div class="d-flex flex-row justify-content-center mt-5">
              <h4 class= "card-subtitle mb-2 text-dark">
                <%= I18n.t('reports.rejected') if @report.rejected? %>
              </h4>
              <h4 class= "card-subtitle mb-2 text-danger">
                <%= I18n.t('reports.granted') if @report.granted? %>
              </h4>
            </div>
          <% end %>
        </div>
      </div>
    </aside>
  </div>
<div>

