<!DOCTYPE html>
<html>
  <head>
    <title>Portfoliorrr</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <header class="fixed-top mt-2">
      <div class="container">
        <%= render 'shared/navbar' %>
      </div>
    </header>
    <main class="container p-5 mt-5">
      <div id="flash-msgs">
        <% if alert %>
          <div class="alert alert-warning" role="alert">
            <%= alert %>
          </div>
        <% end %>
        <% if notice %>
          <div class="alert alert-primary" role="alert">
            <%= notice %>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
