<!DOCTYPE html>
<html>
  <head>
    <title>Portfoliorrr</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <header class="container mt-3">
      <%= render 'shared/navbar' %>
    </header>
    <main class="container">
      <div class="flash-messages">
        <p style="color: red">
          <%= flash[:alert] %>
        </p>
        <p style="color: green">
          <%= notice %>
        </p>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
