<!DOCTYPE html>
<html data-bs-theme="light">
  <head>
    <title>Portfoliorrr</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <header>
      <%= render 'shared/navbar' %>
    </header>
    <main class="container p-5 mt-5">
      <div id="flash-msgs mx-auto">
        <% if alert %>
          <div class="alert alert-warning text-center fw-bold" role="alert">
            <%= alert %>
          </div>
        <% end %>
        <% if notice %>
          <div class="alert bg-success-subtle text-center fw-bold" role="alert">
            <%= notice %>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
