<!DOCTYPE html>
<html>
  <head>
    <title>Cola?Bora</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <%= form_with url: search_profiles_path do |form| %>
          <%= form.label :query, "Busca de Perfis" %>
          <%= form.search_field :query %>
          <%= form.submit "Pesquisar" %>
        <% end %>
      <% end %>
    </header>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
