<!DOCTYPE html>
<html>
  <head>
    <title>Cola?Bora</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <% if user_signed_in? %>
          <li><%= link_to 'Criar Nova Publicação', new_user_post_path(current_user.id) %></li>
          <li><%= link_to 'Explode 404', '/404' %></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <p>
      <%= notice %>
    </p>
    <p>
      <%= alert %>
    </p>

    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
