<!DOCTYPE html>
<html>
  <head>
    <title>Cola?Bora</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <%= form_with url: search_profiles_path, method: :get do |form| %>
          <%= form.label :query, "Busca de Perfis" %>
          <%= form.search_field :query %>
          <%= form.submit "Pesquisar" %>
        <% end %>
      <% end %>
    </header>

    <main class="container">
      <div class="flash-messages">
        <p style="color: red">
          <%= flash[:alert] %>
        </p>
        <p style="color: green">
          <%= notice %>
        </p>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
