<!DOCTYPE html>
<html>
  <head>
    <title>Cola?Bora</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <header class="container mt-3">
        <% if user_signed_in? %>
          <%= button_to "Sair", destroy_user_session_path, method: :delete, class: "btn btn-secondary" %>
        <% else %>
          <%= link_to "Entrar", new_user_session_path, class: "btn btn-primary" %>
        <% end %>
      </ul>

      <% if user_signed_in? %>
        <%= form_with url: search_profiles_path, method: :get do |form| %>
          <p>
            <%= form.label :query, "Busca de Perfis" %>
            <%= form.search_field :query, placeholder: 'Digite o nome' %>
            <%= form.submit "Pesquisar" %>
          </p>
        <% end %>
      <% end %>
    </header>

    <main class="container">
      <div class="flash-messages">
        <p style="color: red">
          <%= flash[:alert] %>
        </p>
        <p style="color: green">
          <%= notice %>
        </p>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
